main {
	width: 100%;
	padding: 10vh 15vw;
	min-height: 120vh; // 데이터 팻칭시 하단 footer가 보임으로 70->120으로 늘림

	h1 {
		font: 100 6vmax/1 "raleway";
		color: #444;
		margin-bottom: 50px;

		span {
			opacity: 0;
			transform: scale(3);
			// transform: scale(3) rotate(220deg);

			//transform 중심축 변경으로 모션 variation 가능
			transform-origin: 200px 200px;
		}
	}

	h1.on {
		span {
			opacity: 1;
			transform: scale(1);
			// transform: scale(1) rotate(0deg);
		}
	}
}
