main {
	width: 100%;
	padding: 10vh 15vw;
	min-height: 120vh; // 데이터 팻칭시 하단 footer가 보임으로 70->120으로 늘림

	h1 {
		font: 100 6vmax/1 "raleway";
		color: #444;
		margin-bottom: 50px;

		span {
			opacity: 0;
			transform: scale(3);
			// transform: scale(3) rotate(220deg);

			//transform 중심축 변경으로 모션 variation 가능
			transform-origin: 200px 200px;
		}

		&.on {
			span {
				opacity: 1;
				transform: scale(1);
				// transform: scale(1) rotate(0deg);
			}
		}
	}

	.slogan {
		margin-bottom: 100px;
		font-size: 1.2rem;
		font-family: "orbitron";
		color: #555;
		display: inline-block;
		position: relative;
		overflow: hidden;
		// border: 1px solid red;

		span {
			opacity: 0;
			transition-duration: 0.5s;
			transition-delay: 1.2s;
		}

		.mask {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0px;
			left: -100%;
			background: #555;
			transition-timing-function: linear;
			transition-duration: 1s;
			transition-delay: 0.6s;
		}
		&.on {
			span {
				opacity: 1;
				transition-delay: 0.9s;
			}
			.mask {
				left: 100%;
				transition-delay: 0.4s;
			}
		}
	}
}
